<?xml version="1.0" encoding="utf-8" ?>
<!-- https://github.com/NLog/NLog/wiki/Configuration-file#configuration-file-format -->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"     
    internalLogToConsole="true"
    internalLogLevel="Trace"
    internalLogFile="outputlogs/internal.log">
 

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
	<add assembly="NLog.Gelf" />
  </extensions>
  
  <variable name="systemGroupName" value="TemplateServiceGroup"/>
  <variable name="systemName" value="TemplateServiceAPI"/>

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="outputlogs/${shortdate}_logfile.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>

		<target xsi:type="File" name="allfile" fileName="outputlogs/nlog-all-${shortdate}.log"
			   layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target name="jsonConsole" xsi:type="Console">
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="env" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
				<attribute name="host" layout="${machinename}"/>
				<attribute name="system-group-name" layout="${var:systemGroupName}"/>
				<attribute name="system" layout="${var:systemName}"/>
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="Details" layout="${event-properties:item=Details}"/>
				<attribute name="exception" layout="${exception:format=@}"/>
				<attribute name="logger" layout="${logger}"/>
			</layout>
		</target>

		<target name="csvConsole" xsi:type="Console" detectConsoleAvailable="true">
			<layout xsi:type="CsvLayout" delimiter="Pipe" withHeader="false">
				<column name="env" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
				<column name="host" layout="${machinename}"/>
				<column name="system-group-name" layout="${var:systemGroupName}"/>
				<column name="system" layout="${var:systemName}"/>
				<column name="timestamp" layout="${longdate}" />
				<column name="level" layout="${level:upperCase=true}"/>
				<column name="message" layout="${message}" />
				<column name="Details" layout="${event-properties:item=Details}"/>
				<column name="exception" layout="${exception:format=ToString}"/>
				<column name="logger" layout="${logger}"/>
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="${environment:MIN_LOG_LEVEL}" writeTo="jsonConsole,logfile,allfile"></logger>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>

</nlog>
